<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>yinmo12.png</key>
			<dict>
				<key>width</key>
				<integer>44</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>44</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmo11.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>70</integer>
				<key>originalWidth</key>
				<integer>42</integer>
				<key>originalHeight</key>
				<integer>70</integer>
				<key>x</key>
				<integer>46</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmo10.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>87</integer>
				<key>originalHeight</key>
				<integer>142</integer>
				<key>x</key>
				<integer>90</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmo09.png</key>
			<dict>
				<key>width</key>
				<integer>94</integer>
				<key>height</key>
				<integer>128</integer>
				<key>originalWidth</key>
				<integer>94</integer>
				<key>originalHeight</key>
				<integer>128</integer>
				<key>x</key>
				<integer>179</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>huomiao01.png</key>
			<dict>
				<key>width</key>
				<integer>48</integer>
				<key>height</key>
				<integer>51</integer>
				<key>originalWidth</key>
				<integer>48</integer>
				<key>originalHeight</key>
				<integer>51</integer>
				<key>x</key>
				<integer>275</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1255-2.png</key>
			<dict>
				<key>width</key>
				<integer>117</integer>
				<key>height</key>
				<integer>132</integer>
				<key>originalWidth</key>
				<integer>117</integer>
				<key>originalHeight</key>
				<integer>132</integer>
				<key>x</key>
				<integer>325</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1255-3.png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>147</integer>
				<key>originalHeight</key>
				<integer>139</integer>
				<key>x</key>
				<integer>444</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1255-4.png</key>
			<dict>
				<key>width</key>
				<integer>151</integer>
				<key>height</key>
				<integer>145</integer>
				<key>originalWidth</key>
				<integer>151</integer>
				<key>originalHeight</key>
				<integer>145</integer>
				<key>x</key>
				<integer>593</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1255-5.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>147</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>147</integer>
				<key>x</key>
				<integer>746</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1255-6.png</key>
			<dict>
				<key>width</key>
				<integer>154</integer>
				<key>height</key>
				<integer>151</integer>
				<key>originalWidth</key>
				<integer>154</integer>
				<key>originalHeight</key>
				<integer>151</integer>
				<key>x</key>
				<integer>898</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1255-7.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>153</integer>
				<key>originalWidth</key>
				<integer>156</integer>
				<key>originalHeight</key>
				<integer>153</integer>
				<key>x</key>
				<integer>1054</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmo07-1.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>50</integer>
				<key>x</key>
				<integer>1212</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmo07-2.png</key>
			<dict>
				<key>width</key>
				<integer>65</integer>
				<key>height</key>
				<integer>45</integer>
				<key>originalWidth</key>
				<integer>65</integer>
				<key>originalHeight</key>
				<integer>45</integer>
				<key>x</key>
				<integer>1274</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmo07.png</key>
			<dict>
				<key>width</key>
				<integer>84</integer>
				<key>height</key>
				<integer>126</integer>
				<key>originalWidth</key>
				<integer>84</integer>
				<key>originalHeight</key>
				<integer>126</integer>
				<key>x</key>
				<integer>1341</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmo07-3.png</key>
			<dict>
				<key>width</key>
				<integer>76</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>76</integer>
				<key>originalHeight</key>
				<integer>64</integer>
				<key>x</key>
				<integer>1427</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>heiqiu01.png</key>
			<dict>
				<key>width</key>
				<integer>559</integer>
				<key>height</key>
				<integer>471</integer>
				<key>originalWidth</key>
				<integer>559</integer>
				<key>originalHeight</key>
				<integer>471</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>155</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmo06.png</key>
			<dict>
				<key>width</key>
				<integer>87</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>87</integer>
				<key>originalHeight</key>
				<integer>139</integer>
				<key>x</key>
				<integer>561</integer>
				<key>y</key>
				<integer>155</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmo03.png</key>
			<dict>
				<key>width</key>
				<integer>206</integer>
				<key>height</key>
				<integer>205</integer>
				<key>originalWidth</key>
				<integer>206</integer>
				<key>originalHeight</key>
				<integer>205</integer>
				<key>x</key>
				<integer>650</integer>
				<key>y</key>
				<integer>155</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gaum00.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>858</integer>
				<key>y</key>
				<integer>155</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gaum01.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>1019</integer>
				<key>y</key>
				<integer>155</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gaum02.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>1180</integer>
				<key>y</key>
				<integer>155</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gaum03.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>1341</integer>
				<key>y</key>
				<integer>155</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gaum04.png</key>
			<dict>
				<key>width</key>
				<integer>159</integer>
				<key>height</key>
				<integer>179</integer>
				<key>originalWidth</key>
				<integer>159</integer>
				<key>originalHeight</key>
				<integer>179</integer>
				<key>x</key>
				<integer>1502</integer>
				<key>y</key>
				<integer>155</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmo05.png</key>
			<dict>
				<key>width</key>
				<integer>112</integer>
				<key>height</key>
				<integer>149</integer>
				<key>originalWidth</key>
				<integer>112</integer>
				<key>originalHeight</key>
				<integer>149</integer>
				<key>x</key>
				<integer>1663</integer>
				<key>y</key>
				<integer>155</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmo01.png</key>
			<dict>
				<key>width</key>
				<integer>156</integer>
				<key>height</key>
				<integer>196</integer>
				<key>originalWidth</key>
				<integer>156</integer>
				<key>originalHeight</key>
				<integer>196</integer>
				<key>x</key>
				<integer>1777</integer>
				<key>y</key>
				<integer>155</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmo04.png</key>
			<dict>
				<key>width</key>
				<integer>131</integer>
				<key>height</key>
				<integer>188</integer>
				<key>originalWidth</key>
				<integer>131</integer>
				<key>originalHeight</key>
				<integer>188</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmo02.png</key>
			<dict>
				<key>width</key>
				<integer>201</integer>
				<key>height</key>
				<integer>230</integer>
				<key>originalWidth</key>
				<integer>201</integer>
				<key>originalHeight</key>
				<integer>230</integer>
				<key>x</key>
				<integer>133</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmoqe00.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>336</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmoqe01.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>521</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmoqe02.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>706</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmoqe03.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>891</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmoqe04.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>1076</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmoqe05.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>201</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>201</integer>
				<key>x</key>
				<integer>1261</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yinmo08.png</key>
			<dict>
				<key>width</key>
				<integer>105</integer>
				<key>height</key>
				<integer>142</integer>
				<key>originalWidth</key>
				<integer>105</integer>
				<key>originalHeight</key>
				<integer>142</integer>
				<key>x</key>
				<integer>1446</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1326-4.png</key>
			<dict>
				<key>width</key>
				<integer>188</integer>
				<key>height</key>
				<integer>80</integer>
				<key>originalWidth</key>
				<integer>188</integer>
				<key>originalHeight</key>
				<integer>80</integer>
				<key>x</key>
				<integer>1553</integer>
				<key>y</key>
				<integer>628</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1326-5.png</key>
			<dict>
				<key>width</key>
				<integer>349</integer>
				<key>height</key>
				<integer>100</integer>
				<key>originalWidth</key>
				<integer>349</integer>
				<key>originalHeight</key>
				<integer>100</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>860</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1326-6.png</key>
			<dict>
				<key>width</key>
				<integer>362</integer>
				<key>height</key>
				<integer>104</integer>
				<key>originalWidth</key>
				<integer>362</integer>
				<key>originalHeight</key>
				<integer>104</integer>
				<key>x</key>
				<integer>351</integer>
				<key>y</key>
				<integer>860</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1326-7.png</key>
			<dict>
				<key>width</key>
				<integer>363</integer>
				<key>height</key>
				<integer>106</integer>
				<key>originalWidth</key>
				<integer>363</integer>
				<key>originalHeight</key>
				<integer>106</integer>
				<key>x</key>
				<integer>715</integer>
				<key>y</key>
				<integer>860</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1326-8.png</key>
			<dict>
				<key>width</key>
				<integer>362</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>362</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>1080</integer>
				<key>y</key>
				<integer>860</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1326-9.png</key>
			<dict>
				<key>width</key>
				<integer>356</integer>
				<key>height</key>
				<integer>107</integer>
				<key>originalWidth</key>
				<integer>356</integer>
				<key>originalHeight</key>
				<integer>107</integer>
				<key>x</key>
				<integer>1444</integer>
				<key>y</key>
				<integer>860</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1637-2.png</key>
			<dict>
				<key>width</key>
				<integer>148</integer>
				<key>height</key>
				<integer>119</integer>
				<key>originalWidth</key>
				<integer>148</integer>
				<key>originalHeight</key>
				<integer>119</integer>
				<key>x</key>
				<integer>1802</integer>
				<key>y</key>
				<integer>860</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1637-3.png</key>
			<dict>
				<key>width</key>
				<integer>274</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>274</integer>
				<key>originalHeight</key>
				<integer>143</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>981</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1637-4.png</key>
			<dict>
				<key>width</key>
				<integer>411</integer>
				<key>height</key>
				<integer>164</integer>
				<key>originalWidth</key>
				<integer>411</integer>
				<key>originalHeight</key>
				<integer>164</integer>
				<key>x</key>
				<integer>276</integer>
				<key>y</key>
				<integer>981</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1637-5.png</key>
			<dict>
				<key>width</key>
				<integer>416</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>416</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>689</integer>
				<key>y</key>
				<integer>981</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1637-6.png</key>
			<dict>
				<key>width</key>
				<integer>419</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>419</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>1107</integer>
				<key>y</key>
				<integer>981</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1637-7.png</key>
			<dict>
				<key>width</key>
				<integer>419</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>419</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>1528</integer>
				<key>y</key>
				<integer>981</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1637-8.png</key>
			<dict>
				<key>width</key>
				<integer>419</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>419</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1157</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1637-9.png</key>
			<dict>
				<key>width</key>
				<integer>417</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>417</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>421</integer>
				<key>y</key>
				<integer>1157</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1637-10.png</key>
			<dict>
				<key>width</key>
				<integer>416</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>416</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>840</integer>
				<key>y</key>
				<integer>1157</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1637-11.png</key>
			<dict>
				<key>width</key>
				<integer>414</integer>
				<key>height</key>
				<integer>173</integer>
				<key>originalWidth</key>
				<integer>414</integer>
				<key>originalHeight</key>
				<integer>173</integer>
				<key>x</key>
				<integer>1258</integer>
				<key>y</key>
				<integer>1157</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1637-12.png</key>
			<dict>
				<key>width</key>
				<integer>412</integer>
				<key>height</key>
				<integer>172</integer>
				<key>originalWidth</key>
				<integer>412</integer>
				<key>originalHeight</key>
				<integer>172</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1333</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>1637-13.png</key>
			<dict>
				<key>width</key>
				<integer>407</integer>
				<key>height</key>
				<integer>170</integer>
				<key>originalWidth</key>
				<integer>407</integer>
				<key>originalHeight</key>
				<integer>170</integer>
				<key>x</key>
				<integer>414</integer>
				<key>y</key>
				<integer>1333</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chibang01.png</key>
			<dict>
				<key>width</key>
				<integer>114</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>114</integer>
				<key>originalHeight</key>
				<integer>161</integer>
				<key>x</key>
				<integer>823</integer>
				<key>y</key>
				<integer>1333</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chibang01-1.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>135</integer>
				<key>originalWidth</key>
				<integer>220</integer>
				<key>originalHeight</key>
				<integer>135</integer>
				<key>x</key>
				<integer>939</integer>
				<key>y</key>
				<integer>1333</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chibang01-2.png</key>
			<dict>
				<key>width</key>
				<integer>281</integer>
				<key>height</key>
				<integer>242</integer>
				<key>originalWidth</key>
				<integer>281</integer>
				<key>originalHeight</key>
				<integer>242</integer>
				<key>x</key>
				<integer>1161</integer>
				<key>y</key>
				<integer>1333</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chibang01-3.png</key>
			<dict>
				<key>width</key>
				<integer>281</integer>
				<key>height</key>
				<integer>242</integer>
				<key>originalWidth</key>
				<integer>281</integer>
				<key>originalHeight</key>
				<integer>242</integer>
				<key>x</key>
				<integer>1444</integer>
				<key>y</key>
				<integer>1333</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>biu.png</key>
			<dict>
				<key>width</key>
				<integer>143</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>143</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>1727</integer>
				<key>y</key>
				<integer>1333</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>logoJ.png</key>
			<dict>
				<key>width</key>
				<integer>115</integer>
				<key>height</key>
				<integer>136</integer>
				<key>originalWidth</key>
				<integer>115</integer>
				<key>originalHeight</key>
				<integer>136</integer>
				<key>x</key>
				<integer>1872</integer>
				<key>y</key>
				<integer>1333</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>Demon0.png</string>
			<key>realTextureFileName</key>
			<string>Demon0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>